:root {
  --accent-color: rgb(0, 166, 255);
}

/* Box Model Hack */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* Clear fix hack */
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clear {
  clear: both;
}

/* Global button reset  */
button {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;

  border: none;
  padding: 0;
  margin: 0;

  background: none;
  font: inherit;
  color: inherit;
  line-height: inherit;

  text-align: inherit;
  cursor: pointer;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
  overflow: hidden;
}

* {
}

#root {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

h2 {
  font-size: 1.1rem;
}

h3 {
  letter-spacing: 4px;
}

h4 {
  font-size: 1.2rem;
  letter-spacing: 2px;
}

h5 {
  font-size: 1rem;
}

h6 {
  font-size: 0.85rem;
  font-weight: normal;
}

button {
  text-align: center;
  border-radius: 10px;
  opacity: 1;
  transition: 0.5s ease;
}

.fa-caret-down,
.fa-caret-up {
  color: black !important;
}

.fa-trash {
  color: rgb(253, 126, 103) !important;
}

span {
  display: block;

  min-width: 0;
}

/******************************************
/* LAYOUT
/*******************************************/
header {
  background: #114f9c;
  background: linear-gradient(90deg, rgba(17, 79, 156, 1) 0%, rgba(0, 0, 0, 1) 100%);
  color: white;
  display: flex;
  flex: 0 0 auto;
  padding: 20px 50px;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
}

header div:nth-child(1) {
  display: flex;
  align-items: center;
  gap: 10px;
}

header div:nth-child(1) p {
  border-bottom: 2px solid var(--accent-color);
  padding-bottom: 1px;
}

header div:nth-child(2) {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  padding: 5px 15px;
  background: rgba(255, 255, 255, 0.419);
  border-radius: 10px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(6.1px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

header button {
  background-color: black;
  padding: 10px 15px;
}

header button:hover {
  background-color: rgba(60, 60, 60, 0.659);
  transition: 0.5s ease;
}

main {
  display: flex;
  min-height: 0;
  flex: 1 1 auto;
}

.user-cv-section {
  background-color: #525659;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  padding: 20px;
}

.cv-document {
  height: 100%;
  padding: 25px;
  background-color: white;
  box-shadow: 2px 2px 14px -8px rgba(0, 0, 0, 0.86);
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* .cv-document * {
  border: red 1px solid;
} */

.cv-document-top {
  padding: 0 15px 15px 0;
  display: flex;
  flex-direction: column;
  gap: 15px;
  border-bottom: 2px solid var(--accent-color);
}

.user-cv-section h2 {
  font-size: 2.5rem;
}

.cv-document-bottom {
  display: flex;
  flex-grow: 1;
}

.cv-document-bottom-left {
  width: 65%;
  padding-right: 15px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.cv-document-bottom-right {
  background-color: #eff3f5;
  padding: 0 20px;
}

.cv-document-bottom-right .bottom-section-wrapper:nth-child(1) div {
  display: flex;
  gap: 15px;
}
.cv-document-bottom-right li,
.cv-document-bottom-right span {
  font-size: 0.9rem;
}

/******************************************
/* UTILITY STYLES
/*******************************************/
