.bottom-section-wrapper {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 15px 0;
  border-bottom: dotted 2px var(--accent-color);
}

.experience-outer-wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.experience-wrapper {
  display: flex;
  flex-direction: column;
  gap: 3px;
}

.experience-wrapper > div:nth-child(1) {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.experience-wrapper > div:nth-child(2) {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.experience-wrapper > div:nth-child(2) div {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.experience-wrapper ul,
.bottom-section-wrapper ul {
  padding-left: 20px;
}

.experience-wrapper li {
  font-size: 0.9rem;
}
