label textarea {
  margin-top: 7px;
  width: 100%;
  height: 100px;
  border: solid 1px rgba(0, 0, 0, 0.18);
  border-radius: 5px;
  padding: 5px;
  background-color: #aebcc62c;
  resize: none;
  font-size: "Roboto";
}

textarea:focus {
  outline: solid 2px var(--accent-color);
  border: none;
}
