label input {
  margin-top: 7px;
  width: 100%;
  border: solid 1px rgba(0, 0, 0, 0.18);
  border-radius: 5px;
  padding: 5px;
  background-color: #aebcc62c;
}

input:focus {
  outline: solid 2px var(--accent-color);
  border: none;
}

.jobTitle {
  grid-column: span 2;
}
