.detail-category {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 15px;
  border: solid 1.5px rgba(0, 166, 255, 0.48);
  border-radius: 10px;
  box-shadow: 0px 2px 11px -9px rgba(0, 0, 0, 0.86);
}

.detail-category > div:nth-child(1) {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #aebcc62c;
  border: solid 1px rgba(0, 0, 0, 0.18);
  padding: 10px;
  border-radius: 10px;
}

.personalDetails > div:nth-child(2) {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  border-top: 1px solid rgba(0, 0, 0, 0.074);
  padding-top: 20px;
}

.detail-category button {
  border: solid 1px rgba(0, 0, 0, 0.107);
  padding: 5px 10px;
  border-radius: 10px;
  background-color: rgba(154, 255, 154, 0.532);
  font-size: 0.8rem;
}

.detail-category > div:nth-child(1) > div {
  display: flex;
  justify-content: space-between;
  align-items: center;

  gap: 15px;
}

.detail-category div:nth-child(1) div:nth-child(1) i {
  color: var(--accent-color);
}
