.bottom-section-wrapper {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 15px 0;
  border-bottom: dotted 2px var(--accent-color);
}

.bottom-section-wrapper > div:nth-child(1) {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.work-experience-wrapper > div:nth-child(2) {
  display: flex;
  flex-direction: column;
  gap: 7px;
}

.work-experience-wrapper > div:nth-child(2) div {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.bottom-section-wrapper ul {
  padding-left: 20px;
}

.work-experience-wrapper li {
  font-size: 0.9rem;
}
