.sub-category {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 90%;
  border: solid 1px rgba(0, 0, 0, 0.18);
  border-radius: 10px;
  background-color: #aebcc62c;
  align-self: center;
  padding: 15px;
}

.sub-category > div:nth-child(1) {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
}

.sub-category > div:nth-child(2) {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  border-top: 1px solid rgba(0, 0, 0, 0.074);
  padding-top: 15px;
}

.sub-category button {
  border: solid 1px rgba(0, 0, 0, 0.107);
  padding: 5px 10px;
  border-radius: 10px;
  background-color: rgba(126, 209, 126, 0.532);
  font-size: 0.8rem;
}
.sub-category > div:nth-child(1) > div {
  display: flex;
  justify-content: space-between;
  align-items: center;

  gap: 15px;
}

.sub-category div:nth-child(1) div:nth-child(1) i {
  color: var(--accent-color);
}

.add-description-button-wrapper {
  display: flex;
  justify-content: center;
}

.add-description-button-wrapper button {
  width: 80%;
  background-color: #7294bd;
  color: white;
}
