/* Box Model Hack */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* Clear fix hack */
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clear {
  clear: both;
}

/* Global button reset  */
button {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;

  border: none;
  padding: 0;
  margin: 0;

  background: none;
  font: inherit;
  color: inherit;
  line-height: inherit;

  text-align: inherit;
  cursor: pointer;
}

/******************************************
/* BASE STYLES
/*******************************************/

* {
  border: solid 1px black;
}

#root {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

button {
  text-align: center;
}

/******************************************
/* LAYOUT
/*******************************************/
header {
  background: #114f9c;
  background: linear-gradient(
    90deg,
    rgba(17, 79, 156, 1) 0%,
    rgba(0, 0, 0, 1) 100%
  );
  color: white;
  display: flex;
  flex-direction: column;
  padding: 25px 50px;
  align-items: center;
  gap: 15px;
}

header div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  padding: 10px 15px;
  background: rgba(255, 255, 255, 0.419);
  border-radius: 10px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(6.1px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

header button {
  background-color: black;
  padding: 10px 15px;
  border-radius: 10px;
}

main {
  flex-grow: 1;
  display: flex;
}

/******************************************
/* UTILITY STYLES
/*******************************************/
